/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
p {
  line-height: 1.5rem;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Homemade Apple Regular'), local('HomemadeApple-Regular'), url(https://fonts.gstatic.com/s/homemadeapple/v10/Qw3EZQFXECDrI2q789EKQZJob3x9.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  text-decoration: none;
  color: white;
  font-size: 4.5vh;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav a {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: auto;
  padding: 0% 3%;
  justify-content: flex-end;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-bottom: 10%;
  box-sizing: border-box;
  color: white;
  background: url(../assets/dark-burger-with-knife.jpg) center center no-repeat;
  background-size: cover;
}
.hero-title {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  margin: 0 4%;
  margin-top: 9%;
  font-size: 9rem;
  font-weight: bold;
  line-height: 0.9;
}
.hero-sub {
  font-family: "Homemade Apple", cursive;
  letter-spacing: 2px;
  max-width: 100%;
  margin: 0 4%;
  margin-left: 11%;
  margin-top: 7%;
  font-size: 3rem;
  line-height: 0.5;
  font-weight: lighter;
}
.cta {
  display: flex;
  margin: 3% 8%;
  margin-top: 8%;
  transition: ease-in-out 0.5s;
  justify-content: center;
}
.cta .buttons {
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: transparent;
  transition: ease-in-out 0.3s;
  font-size: 1.6rem;
  border: 3px solid white;
  border-radius: 12px;
}
.cta .buttons:hover:hover {
  background-color: white;
  color: black;
}
.hero-footer {
  display: flex;
  margin-bottom: 1%;
}
.spices {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/light-spices.jpg");
}
.spices .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.spices .overlay h1 {
  font-family: "Homemade Apple", cursive;
  max-width: 100%;
  margin: 0 5%;
  margin-top: 9%;
  font-size: 4.5rem;
  line-height: 0.9;
  text-align: center;
  padding-bottom: 60px;
}
.spices .overlay p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 0.9;
  color: white;
  text-align: center;
  margin: 0 20%;
  padding: 20px;
  margin-bottom: 53px;
  padding-bottom: 135px;
}
.white-space {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/sebastien-marchand-oVIUvwm2dvM-unsplash.jpg");
  position: absolute;
}
.white-space h1 {
  font-family: "Homemade Apple", cursive;
  color: white;
  max-width: 100%;
  margin: 0 5%;
  margin-top: 9%;
  font-size: 4.5rem;
  line-height: 0.9;
  text-align: center;
  padding-bottom: 60px;
}
.white-space p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 0.9;
  color: white;
  text-align: center;
  margin: 0 20%;
  padding: 20px;
  margin-bottom: 53px;
  padding-bottom: 135px;
}
.infoBreakdown {
  height: 100vh;
  background-color: white;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.stickyNav {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1rem 0rem 1rem 0rem;
  margin: 0rem;
}
.stickyNav .navContainer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.stickyNav .navContainer .newNav {
  display: flex;
  justify-content: space-around;
  padding: 0rem;
  margin: 0rem 0rem 0rem 5rem;
  border-width: 1px;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  transition: ease-in-out 0.3s;
  font-size: 1.6rem;
  border-radius: 12px;
}
.stickyNav .navContainer .newNav a {
  padding: 10px 18px;
  font-size: 1.3rem;
  margin: 0.5rem 5rem 0.5rem 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
.stickyNav .navContainer .newNav a:hover:hover {
  background-color: transparent;
  transition: ease-in-out 0.3s;
  border: 1px solid white;
  border-radius: 12px;
}
.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../assets/about-us-cutting-board.jpg);
}
.our-team-container {
  width: 100%;
  margin: 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-container .our-team-wording {
  font-family: "Homemade Apple", cursive;
  font-size: 5.5rem;
  margin-top: 8%;
}
.teammate1-container {
  display: flex;
  margin: 0 0 0 5%;
  flex-direction: column;
  width: 15%;
}
.teammate1-container .teammate1-photo-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5%;
}
.teammate1-container .teammate1-photo-container img {
  border-radius: 50%;
  width: 100%;
}
.teammate1-container .teammate1-social-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5%;
}
.teammate1-container .teammate1-social-container .teammate1-social-icons-container {
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.teammate1-container .teammate1-social-container .teammate1-social-icons-container img .github {
  border-radius: 50%;
  width: 100%;
}
