// .spices {
//     height: 100vh;
//     width: 100vw;
//     position: relative;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-image: url("../assets/light-spices.jpg");
// }
.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../assets/about-us-cutting-board.jpg);
} // closes about

.our-team-container {
  width: 100%;
  margin: 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .our-team-wording {
    font-family: @decorFont;
    font-size: 5.5rem;
    margin-top: 8%;
  }
} // closes our-team-container

.teammate1-container {
  display: flex;
  margin: 0 0 0 5%;
  flex-direction: column;
  width: 15%;

  .teammate1-photo-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    // width: 80%;
    width: 100%;
    // height: 270px;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5%;

    img {
      border-radius: 50%;
      width: 100%;
    } // this closes img
  } // this closes .teammate1-photo-container

  .teammate1-social-container {
    // display: flex;
    // width: 15%;
    // margin: 0 0 0 5%;
    // flex-direction: row;
    display: flex;
    flex-direction: column;
    background-color: white;
    // width: 80%;
    width: 100%;
    // height: 270px;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5%;

    .teammate1-social-icons-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;

      img .github {
        border-radius: 50%;
        width: 100%;
      }
    } // this closes teammate1-social-icons
  } // this closes teammate1-social-container
} // this closes teammate1-container
