// .spices {
//     height: 100vh;
//     width: 100vw;
//     position: relative;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-image: url("../assets/light-spices.jpg");
// }
.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../assets/about-us-cutting-board.jpg);

  @media (max-width: 515px) {
    height: auto;
    width: 100%;
    // position: relative;
    // background-size: cover;
    // background-position: 50% 50%;
    background-image: url(../assets/cutting-board-filtered.png);
  } // this closes @media 515px for .about

  @media (max-width: 1000px) {
    // height: auto;
    width: 100%;
  } // this closes @media 1000px for .aboout
} // closes .about

.our-team-container {
  width: 100%;
  margin: 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;

  .our-team-wording {
    font-family: @decorFont;
    font-size: 5.5rem;
    margin-top: 5%;

    @media (max-width: 515px) {
      color: white;
      margin-top: 5%;
      font-size: 2.7rem;
      margin-bottom: 3%;
    } // this closes @media 515px for .our-team-wording

    @media (max-width: 1000px) {
      width: 100%;
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 3%;
    } // this closes @media 1000px for .our-team-wording

    @media (max-width: 1300px) {
      font-size: 3.9rem;
      margin-bottom: 3%;
    } // this closes @media 1300px for .our-team-wording
  } // this closes .our-team-wording

  @media (max-width: 515px) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9%;
    padding-top: 5%;
  } // this closes the media query for .our-team-container
} // closes our-team-container

// .teamSpacing {
//   margin: 6% 0 0 0;
// } // this closes .teamSpacing

.overall-team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  //   margin: 0 0 0 3%;

  .teammate1-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate1-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow();
        } // closes &:hover for <img>
      } // this closes img
    } // this closes .teammate1-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      } // this closes @media 515px for <h3>

      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate1

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      } // this closes @media 515px for <h5>

      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    } // this closes <h5>

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      } // this closes @media 515px for <h4>

      @media (max-width: 1000px) {
        font-size: 0.9rem;
      }
    } // this closes <h4>

    .teammate1-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      // padding: 5%;
      margin-top: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .github

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .github

        @media (max-width: 515px) {
          width: 38px;
        } // this closes @media 515px for .github
      } // this closes .github for .teammate1-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .twitter

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .twitter

        @media (max-width: 515px) {
          width: 38px;
        } // this closes @media 515px for .twitter
      } // this closes .twitter for .teammate1-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email

        @media (max-width: 515px) {
          width: 38px;
        } // this closes @media 515px for .email
      } // this closes .email for .teammate1-social-container

      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate1-social-container

    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 8%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate1-container

    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px for teammate1-container
  } // this closes teammate1-container

  .teammate2-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate2-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() so far
        }
      } // this closes img
    } // this closes .teammate2-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }

      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    } // this closes <h5> for teammate2

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate2-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate2-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate2-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate2-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate2-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 8%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate2-container

    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px for teammate2-container
  } // this closes .teammate2-container

  .teammate3-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate3-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() so far
        }
      } // this closes img
    } // this closes .teammate3-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }

      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    }

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate3-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate2-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate2-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate3-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate3-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 5%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate3-container

    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px for teammate2-container
  } // this closes .teammate3-container

  .teammate4-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate4-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() or .shift() so far
        }
      } // this closes img
    } // this closes .teammate4-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }

      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    }

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate4-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate4-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate4-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate4-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate4-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 5%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate4-container

    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px for teammate2-container
  } // this closes .teammate4-container

  @media (max-width: 515px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } // this closes @media for .overall-team-container
  @media (max-width: 1000px) {
    margin: 0 auto;
    margin-top: 10%;
  } // this closes @media 1000px for .overall-team-container
} // this closes .overall-team-container

//Chelsea Wetzel
.new-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 2%;
  //   margin: 0 0 0 3%;

  .teammate6-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate6-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() so far
        }
      } // this closes img
    } // this closes .teammate6-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    }

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate6-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;
        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate6-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate6-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate6-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate6-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 8%;
      border-bottom: 1px solid snow;
    } // this closes @media 515px for .teammate6-container
    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px
  } // this closes teammate6-container

  .teammate7-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate7-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() so far
        }
      } // this closes img
    } // this closes .teammate7-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    }

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate7-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate6-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate6-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate7-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate7-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 8%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate7-container
    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px
  } // this closes teammate7-container

  .teammate5-container {
    display: flex;
    // margin: 0 0 0 5%;
    flex-direction: column;
    width: 10%;
    justify-content: center;

    .teammate5-photo-container {
      display: flex;
      // flex-direction: row;
      background-color: white;
      width: 100%;
      // justify-content: center;
      border-radius: 50%;
      border: 1px solid white;
      padding: 5%;

      img {
        border-radius: 50%;
        width: 100%;
        transition: ease-in-out 0.7s;

        &:hover {
          .grow(); // .rotate() or .grow() so far
        }
      } // this closes img
    } // this closes .teammate5-photo-container

    h3 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @heading-font;
      font-size: 2rem;
      line-height: 0.9;

      @media (max-width: 515px) {
        color: white;
      }

      @media (max-width: 1000px) {
        font-size: 1.3rem;
      } // this closes @media 1000px for <h3>
    } // this closes h3 for teammate2

    h5 {
      padding-top: 6%;
      width: 100%;
      text-align: center;
      font-family: @decorFont;
      font-size: 2.4rem;
      line-height: 0.9;
      letter-spacing: 5px;

      @media (max-width: 515px) {
        color: white;
        margin: 3% 0;
        font-size: 2.5rem;
      }
      @media (max-width: 1000px) {
        font-size: 1.6rem;
      } // this closes @media 1000px
    }

    h4 {
      padding-top: 4%;
      width: 100%;
      text-align: center;
      font-family: @pFont;
      font-size: 1.3rem;
      line-height: 0.9;
      color: #5c5c5c;

      @media (max-width: 515px) {
        color: white;
      }
      @media (max-width: 1000px) {
        font-size: 0.9rem;
      } // this closes @media 1000px
    }

    .teammate5-social-container {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 5%;
      // padding: 5%;
      text-align-last: justify;

      .github {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .github for .teammate5-social-container

      .twitter {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        // margin: 0 10px;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .twitter for .teammate5-social-container

      .email {
        border-radius: 50%;
        width: 40px;
        border: 1px solid white;
        padding: 6px;
        background-color: white;
        margin: 0 auto;

        @media (max-width: 1000px) {
          width: 25px;
        } // this closes @media 1000px for .email

        @media (max-width: 1300px) {
          width: 35px;
        } // this closes @media 1300px for .email
      } // this closes .email for .teammate5-social-container
      @media (max-width: 515px) {
        margin: 3% 0;
      }
    } // this closes .teammate5-social-container
    @media (max-width: 515px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      align-self: center;
      margin-bottom: 8%;
      border-bottom: 1px solid snow;
    } // this closes @media for .teammate5-container
    @media (max-width: 1000px) {
      width: 13%;
    } //this closes @media 1000px
  } // this closes teammate5-container
  @media (max-width: 515px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  } // this closes @media for .new-container

  @media (max-width: 1000px) {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 4%;
  }
} // closes .new-container
