/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

// General //

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

p {
  line-height: 1.5rem;
}

// Font Import //
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
