header {
  max-width: auto;
  /*   margin: 0 auto; */
  height: 80vh;
  background-color: #eee;
  background-image: url("https://drive.google.com/uc?id=1VgOVRMkSB80KExwoKDYnb6-7Lzn9aURR"); /* link to fallback static image here */
  background-position: center;
  background-size: cover;
  position: relative;
}
header,
section {
  text-align: center;
}
section {
  margin-top: 1rem;
}

.header-content {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header h1 {
  margin-top: 20rem;
  margin-bottom: 4%;
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
  font-family: @mainFont;
}

header h2 {
  margin-top: 5%;
  font-size: 2.2rem;
  color: #fff;
  font-family: @heading-font;
}

hr {
  width: 9%;
}
