// Main Content

.main {
  background-color: white;
  //   height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background: url(../assets/light-steak-salad.jpg) center center no-repeat;
  background-size: cover;

  //   .overlay {
  //     background-color: black;
  //     opacity: 0.7;
  //     height: 100vh;
  //     background-size: cover;
  //   } // this closes overlay
} // this closes main
