// Main Content

.main {
  background-color: white;
  //   height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background: url(../assets/light-steak-salad.jpg) center center no-repeat;
  background-size: cover;
} // this closes main

// .hero-title123 {
//     font-family: @heading-font;
//     max-width: 100%;
//     margin: 0 4%;
//     margin-top: 7%;
//     //   font-size: 15vh;
//     font-size: 9rem;
//     font-weight: bold;
//     line-height: 0.9;
// }
