// Mix Ins //

.displayFlex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container () {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hoverEase () {
  &:hover {
    background-color: white;
    color: black;
  }
}
